/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.banner {
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
}

.banner-content {
    align-items: center;
    color: #272727;
    width: 708px;
    padding: 100px 95px 160px 240px;
}

.banner-title {
    font-size: 70px;
    font-weight: 800px;
    color: #272727;
    margin-bottom: 0px;
    max-width: 700px;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 30px;
    max-width: 634px;
}

.btn-primary {
    border-radius: 8px;
    background-color: #E55473;
    padding: 20px 43px;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    border: 0;
}

.profile-pic {
    width: 635px;
    height: 800px;
    padding: 50px 240px 0 0;
}






/* Main Section */

.banner1 {
    width: 1922px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-between;
}

.banner1-content {
    align-items: center;
    color: #272727;
    width: 537px;
    padding: 230px 215px 340px 425px;
}

.banner1-title {
    font-size: 32px;
    font-weight: 800;
    color: #272727;
    margin-bottom: 0px;
    max-width: 600px;
    /* text-align: center; */
}

.off {
    color: #E55473;
}

.banner1-description {
    max-width: 594px;
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
}

.banner1-pic {
    width: 318px;
    height: 420px;
    padding: 100px 430px 100px 0;
}

.section-title {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 24px 670px 48px 670px;
    /* max-width: 594px; */
}

.photo {
    width: 342px;
    height: 396px;
    flex-shrink: 0;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.banner2 {
    display: flex;
    gap: 24px;
    padding: 28px 250px 128px 250px;
    justify-content: space-around;
}